* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 60%;
    margin: auto;
}

.title-container {
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.form-container {
    padding: 40px;
    display: grid;
    grid-template-areas:
        'form-username form-password'
        'form-button form-button';
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}

.input-grup:nth-child(1),
.input-grup:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin: 5px;
}


.input-grup:nth-child(1) {
    grid-area: form-username;
}

.input-grup:nth-child(2) {
    grid-area: form-password;
}

.input-grup:nth-child(3) {
    grid-area: form-button;
    margin: 10px 5px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #45a049;
}

label {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    outline: none;
}

@media only screen and (max-width:567px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    .form-container {
        padding: 10px;
        grid-template-areas:
            'form-username form-username'
            'form-password form-password'
            'form-button form-button';
    }
}